.gjs-layer-item {
    height: 36px;
    color: black;
    border-bottom: 1px solid #e7dede;
}

.gjs-layer-name {
    color: black;
    font-weight: 700;
    letter-spacing: 0
}


.gjs-layers{
    height: auto!important;
}


#layers-container{
    margin-top: 5px;
}

.gjs-layer-name{
    text-transform: capitalize;
}